body{

	background-color: white

}


a{
	background-color: red
}



.clasejuanjo{

	 
    width: 800px;
    height: 300px;
    border: 10px solid #c3c3c3;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
	
}

#divisorjuanjo{
	width: 800px;
    height: 300px;
    border: 20px solid #c3c3c3;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;

}